<div>
	<p>Add new orders</p>
	<form>
		Customer:
			<select>
				<option>Jen</option>
			</select>
		Product:
			<select>
				<option>AF1</option>
			</select>
		Customer:
			<select>
				<option>1</option>
				<option>2</option>
				<option>3</option>
			</select>
		<input type='submit' value='make order'>
	</form>
	<table>
		<tr>
			<th>Customer name</th>
			<th>Product</th>
			<th>#</th>
			<th>Date</th>
		</tr>
		<tr>
			<td>Jen</td>
			<td>AFI</td>
			<td>3/1/22<td>
		</tr>

	</table>
</div>