<div ng-controller='orderscontroller'>
	<p>Add new orders</p>
	<form>
		Customer:
			<select ng-options='customer.name as customer.name for customer in customers' ng-model='new_order.customer_name'>
				<option value='' disabled>Choose customer</option>
			</select>
		Product:
			<select ng-options='product.product as product.product for product in products' ng-model='new_order.product'>
				<option value='' disabled>Choose product</option>
			</select>
		Quantity:
			<select ng-model='new_order.quantity'>
				<option ng-repeat='i in quantity'>{{i}}</option>
			</select>
		<input ng-click='addorder()' type='submit' value='make order'>
	</form>
	<table>
		<tr>
			<th>Customer name</th>
			<th>Product</th>
			<th>#</th>
			<th>Date</th>
		</tr>
		<tr ng-repeat="order in orders | filter: filter_Name | orderBy: created_at">
			<td ng-bind='order.customer_name'></td>
			<td ng-bind='order.product'></td>
			<td ng-bind='order.quantity'><td>
			<td ng-bind='order.created_at | date: "longDate"'><td>
		</tr>

	</table>
</div>